.message{
    display: grid;
    grid-template-rows: 40px auto;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    max-width: 500px;
    &__infoBlock{
        display: flex;
        justify-content: space-between;
        gap: 20px;
    }
    &__info{
        font-size: 10px;
    }
    &__text{
        font-size: 15px;

    }
}
